<section class="404">
  <div
    style="
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <img src="https://assets-two-steel.vercel.app/gifs/7iJR.gif" alt="" />
  </div>
  <p><a href="https://giphy.com/gifs/2Fazja9DUP7yBZFZK"></a></p>
</section>
