<header class="navbar navbar-expand-lg navbar-dark banner-component">
  <div class="container">
    <span class="fw-bolder">EMERGENCY SERVICE AVAILABLE 24 X 7</span>
    <span class="fw-bolder d-none d-md-block"
      >WATERLOO | KITCHENER | CAMBRIDGE | GUELPH - 226-988-6648</span
    >
  </div>
</header>
