<section class="hero-section">
  <div class="img-container position-relative">
    <img
      src="https://assets-two-steel.vercel.app/images/hero.jpg"
      alt="Hero Image"
    />
    <div class="centered-text text-center text-md-start row">
      <h1 class="col-md-11 display-5 fw-bolder">
        Experience excellence with every task we undertake
      </h1>
    </div>
  </div>
</section>
