<section class="bg-dark text-light p-5 text-center">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <ol class="carousel-indicators">
        <li
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          class="active"
        ></li>
      </ol>
      <div class="carousel-item active">
        <div class="container">
          <div class="d-md-flex align-items-end justify-content-between">
            <div class="mb-5">
              <h1 class="text-center text-md-start">
                Experience excellence with every task we undertake
                <span class="text-warning">-trust our expertise!</span>
              </h1>
            </div>
            <img
              class="img-fluid carousel-img"
              src="/images/home-utility.jpg"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="d-md-flex align-items-end justify-content-between">
            <div class="mb-5">
              <h1 class="text-center text-md-start">
                Rely on us for<span class="text-warning"> top-notch </span> job
                handling with utmost
                <span class="text-warning">professionalism</span>
              </h1>
            </div>
            <img
              class="img-fluid carousel-img"
              src="/images/renovation-bathroom.jpg"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block">
    <a
      href="#myCarousel"
      class="carousel-control-prev"
      role="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a
      href="#myCarousel"
      class="carousel-control-next"
      role="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</section>
