<section class="intro my-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6">
          <h1 class="display-4 fw-bold mb-5">Discover brilliance in every endeavor we pursue.</h1>
          <button type="button" class="bt btn-lg explore-works font-wt-500">Explore My Work</button>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <img class="img-fluid" src="https://placehold.co/500x400" alt="">
        </div>
      </div>
    </div>
</section>