<section class="mission">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12" data-aos="fade-up">
        <h3 class="display-5 text-center mt-4 font-wt-500">
          OUR <span class="text-warning">MISSION</span>
        </h3>
      </div>
    </div>
    <div class="row g-5 text-center text-md-start py-3 mb-5">
      <div class="col-md-12" data-aos="fade-up" data-aos-delay="50">
        <div class="container">
          <span>Bringing Smiles, Saving Bucks: At SmartHome Renovation And Services, our mission is all about making you comfy without breaking the bank! We're here to redefine HVAC solutions, ensuring your place is cozy and your savings stay happy. With a sprinkle of innovation and a dash of excellence, we're on a mission to keep your comfort high and your bills low!"</span>
        </div>
      </div>
  </div>
</section>

<section class="customer-service-coverage">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12" data-aos="fade-up">
        <h4 class="text-center mt-4 font-wt-300 font-sz-30">
          CUSTOMER<span class="text-warning"> SERVICE </span> COVERAGE
        </h4>
      </div>
    </div>
    <div class="row g-5 text-center text-md-start py-3 mb-5">
      <div class="col-md-12" data-aos="fade-up" data-aos-delay="50">
        <div class="container">
          <p>Proudly serving our community across Kitchener, Waterloo, Cambridge and Guelph. We specialize in everything from quick repairs to complete system installations. Our commitment to your comfort is 24/7, 365 days a year, with a dedicated answering service.</p>
        </div>
      </div>
  </div>
</section>