<section id="services" class="services px-lg-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12" data-aos="fade-up">
        <h3 class="display-5 text-center mt-4 font-wt-500">
          SERVICES <span class="text-warning">WE</span> PROVIDE
        </h3>
      </div>
    </div>
    <div class="row g-5 text-center text-md-start py-5">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="50">
        <a href="/services/heating">
          <img
            src="https://assets-two-steel.vercel.app/images/heat-pump.png"
            alt="heat-pump"
            width="200px"
            height="200px"
          />
        </a>
        <div class="row px-5 mt-2">
          <div class="col-md-4 fw-bold">Heating</div>
        </div>
      </div>
      <div
        class="col-md-4 text-center text-md-start"
        data-aos="fade-up"
        data-aos-delay="50"
      >
        <a href="/services/cooling"
          ><img
            src="https://assets-two-steel.vercel.app/images/ac-conditioner.png"
            alt="air-conditioner"
            width="200px"
            height="200px"
        /></a>
        <div class="row px-5 mt-2">
          <div class="col-md-4 fw-bold">Cooling</div>
        </div>
      </div>
      <div class="col-md-4">
        <a
          href="/services/refrigeration"
          data-aos="fade-up"
          data-aos-delay="50"
        >
          <img
            src="https://assets-two-steel.vercel.app/images/referigeration.png"
            alt="referigeration"
            width="200px"
            height="200px"
          />
        </a>
        <div class="row px-5 mt-2">
          <div class="col-md-4 fw-bold">Refrigeration</div>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <a href="/services/gas">
          <img
            src="https://assets-two-steel.vercel.app/images/gas.png"
            alt="gas"
            width="200px"
            height="200px"
          />
        </a>
        <div class="row px-5 mt-2">
          <div class="col-md-4 fw-bold">Gas</div>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <a href="/services/purifier">
          <img
            src="https://assets-two-steel.vercel.app/images/purifier.png"
            alt="ro-purifier"
            width="200px"
            height="200px"
          />
        </a>
        <div class="row px-5 mt-2">
          <div class="col-md-4 fw-bold">Purifier</div>
        </div>
      </div>
    </div>
  </div>
</section>
