<section id="services" class="services px-lg-5 bg-dark">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8" data-aos="fade-up">
        <h3 class="text-warning text-center text-md-start">
          SERVICES WE PROVIDE
        </h3>
      </div>
    </div>
    <div class="row g-5 text-center text-md-start py-5">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="50">
        <a href="/services/heating">
          <img
            src="/images/heat-pump.png"
            alt=""
            width="200px"
            height="200px"
          />
        </a>
      </div>
      <div
        class="col-md-4 text-center text-md-start"
        data-aos="fade-up"
        data-aos-delay="50"
      >
        <a href="/services/cooling"
          ><img
            src="/images/ac-conditioner.png"
            alt=""
            width="200px"
            height="200px"
        /></a>
      </div>
      <div class="col-md-4">
        <a
          href="/services/refrigeration"
          data-aos="fade-up"
          data-aos-delay="50"
        >
          <img
            src="/images/referigeration.png"
            alt=""
            width="200px"
            height="200px"
          />
        </a>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <a href="/services/gas">
          <img src="/images/gas.png" alt="" width="200px" height="200px" />
        </a>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <a href="/services/purifier">
          <img src="/images/purifier.png" alt="" width="200px" height="200px" />
        </a>
      </div>
    </div>
  </div>
</section>
