<section class="why-choose mb-5" data-aos="fade-up" data-aos-delay="50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <span class="display-5 py-5 mt-5 font-wt-500"
            >Why <span class="text-warning">Choose</span> US?</span
          >
          <h5 class="text-center m-3" data-aos="fade-up" data-aos-delay="100">
            BEST SOLUTIONS
          </h5>
          <span class="font-wt-300 m-3" data-aos="fade-up" data-aos-delay="200">
            We’ll help you find a solution suited to your home’s size and your
            family’s needs — and can install your new system as soon as the next
            day.
          </span>
          <h5 class="text-center m-3" data-aos="fade-up" data-aos-delay="300">
            BUDGET FRIENDLY
          </h5>
          <span class="font-wt-300 m-3" data-aos="fade-up" data-aos-delay="400">
            We offer a range of payment, rental and financing options to fit
            your budget.
          </span>
          <h5 class="text-center m-3" data-aos="fade-up" data-aos-delay="500">
            NO SURPRISES
          </h5>
          <span class="font-wt-300 m-3" data-aos="fade-up" data-aos-delay="600">
            No surprises – the price we quote is the price you pay.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
