.carousel-img {
  width: 50%;
}

.star-rating {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.star-rating input,
.rating input {
  display: none;
}

.star-rating label,
.rating label {
  color: #ddd;
  font-size: 2em;
  cursor: pointer;
}

/* .star-rating label:hover,
.star-rating label:hover ~ label {
  color: #f39c12;
} */

.high {
  color: #f39c12 !important;
}

.error {
  color: red;
}

@media screen and (min-width: 990px) {
  .banner-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
}

@media screen and (max-width: 768px) {
  .carousel-img {
    width: 100%;
  }
}
